* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 50px;
    height: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    background-color: #c4c4c4;
}

.centerpart1 {
    background-color: #c4c4c4;
    width: 600px;
    margin: 50px auto;
}

.part1 {
    float: left;
}

.part2 {
    float: right;
}

.part1,
.part2 {
    background-color: #c4c4c4;
    height: 500px;
    width: 590px;
}

.centerpart2 {
    background-color: #c4c4c4;
    width: 600px;
    position: relative;
    margin: auto;
    top: 450px;
}

.contentpart2 {
    margin-top: 490px;
}

.img {
    background-color: #c4c4c4;
    height: 257.5px;
    float: left;
    margin: 10px 10px;
    width: 279.5px;
}

.centerpart3 {
    background-color: #c4c4c4;
    width: 600px;
    position: relative;
    margin: auto;
    top: 490px;
}

.contentpart3 {
    margin-top: 540px;
    background-color: #c4c4c4;
    height: 730px;
}

.contentBox {
    margin: 0 35px;
}

.content {
    height: 591px;
    background-color: #ffffff;
    width: 330px;
    float: left;
    margin: 70px 0;
    margin-left: 35px;
}

.first {
    background-color: #c4c4c4;
    width: 290px;
    position: relative;
    top: 20px;
    left: 20px;
}

.middle {
    background-color: #c4c4c4;
    width: 290px;
    height: 230px;
    position: relative;
    top: -9px;
    left: 20px;
}

.last {
    background-color: #c4c4c4;
    width: 290px;
    height: 230px;
    position: relative;
    top: -39px;
    left: 20px;
}

.center {
    background-color: #c4c4c4;
    width: 330px;
    margin: 10px auto;
}

.centers {
    width: 530px;
    margin: 50px auto;
}

.center1 {
    background-color: #c4c4c4;
    margin-bottom: 15px;
}

.center4 {
    height: 250px;
    background-color: #c4c4c4;
    margin-bottom: 15px;
}

.center5 {
    margin-top: 30px;
}

.centerLeft {
    background-color: #c4c4c4;
    margin-right: 20px;
    width: 255px;
    float: left;
}

.centerRight {
    background-color: #c4c4c4;
    width: 255px;
    float: right;
}

.footer {
    background-color: #c4c4c4;
    margin-top: 550px;
    height: 285px;
}

.left {
    background-color: #ffffff;
    width: 564px;
    margin-top: 25px;
    height: 240px;
    margin-left: 25px;
    float: left;
}

.right {
    background-color: #ffffff;
    width: 564px;
    margin-top: 25px;
    margin-right: 25px;
    height: 240px;
    float: right;
}